
dist
.solid
.output
.vercel
.netlify
.env
netlify
coverage

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

# Firebase
.firebaserc
firebase-debug.log
firestore-debug.log
firestore.indexes.json
firestore.rules
ui-debug.log